<div class="card card-login mx-auto text-center bg-light">
  <div class="card-header-b mx-auto bg-light">
                  <span class="logo_title mt-5"> Ingresar al panel </span>
  </div>
  <div class="card-body">
    
        <div *ngIf="error" class="alert alert-danger" role="alert">
                {{ error }}
        </div>

      <form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
          <div class="input-group form-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="email" class="form-control" placeholder="Email..." ngModel required>
          </div>

          <div class="input-group form-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" class="form-control" placeholder="Contraseña..." ngModel required>
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-outline-danger float-right login_btn"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
          </div>

      </form>
  </div>
</div>